.advantages {
    min-height: 472px;
    padding: 70px 0 78px 0;
    &__header {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 400;
        margin: 0 auto;
        text-align: center;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 65px;
    
    }
    &__item {
        position: relative;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
        
        h2 {
            color: #0d0d0d;
            font-size: 22px;
            text-align: center;
            margin-top: 38px;
        }
        div {
            color: #0d0d0d;
            
            font-size: 14px;
            font-weight: 400;
            
            text-align: center;
            a {
                color: $main-color;
            }
        }
    }
    &__icon {
            
            
        width: 70px;
        height: 70px;
        &_animated {
            
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-play-state: paused;
            &:hover {
                animation-play-state: running;
            }
        }
        
    }

}
@media (max-width: 320px){
    .advantages {
        
        &__items {
            flex-direction: column;
            align-items: center;
        }
    }
}