.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
    }
}
@media (max-width: 320px) {
    .title {
        font-size: 25px;
        &_left {
            font-size: 19px;

        }
        &_catalog {
            font-size: 21px;
            margin-top: 71px;
        }
    }
}